<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome!</title>
	<script type="" text/javascript>
		let user = sessionStorage.getItem("user")
		
		if (user == null){
			let name = prompt("What's your name?", "Guest")
			if (name === '' || name == null){
				name = prompt("What's your name?", "Guest")
			}
			fetch('/welcome', {
				method: 'POST',
				body: name,
			}).then(response => response.json())
			.then(user => {
				sessionStorage.setItem('user', JSON.stringify(user));
			})
		} else {
			user = JSON.parse(sessionStorage.getItem("user"))
			console.log(user)
		}
	</script>
</head>

<body>
	<h3>Join A Channel</h3>
	<div th:each="channel : ${channels}">
		<a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}" th:text="${channel.name}"></a>
	</div>
</body>

</html>